.Aboutpage
{
    text-align: center;
    border: 5px  solid darkblue;
}

.About
{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}

.About-img
{
    width:50%;
    height:100%;
    margin: auto;
    display:flex;
}
.About_img
{
    width:100%;
    height:100%;

}
.About-content
{
    width:50%;
    height:100%;
    padding: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.readmore
{
    background-color: darkblue;
    color:white;
    text-decoration: none;
    padding: 2%;
    width: fit-content;
    text-align: center;
}
@media(max-width:768px) {
    .About
    {
        flex-direction: column;
    }
    .About-img
    {
        width: 100%;
    }
    .About_img
    {
        margin: 0;
    }
    .About-content
    {
        width: 100%;
        height: fit-content;
        padding: 0 2%;
    }
}


